requests==2.27.1
asgiref==3.5.2
astroid==2.12.4
asttokens==2.1.0
Pillow==9.2.0
attrs==22.1.0
Automat==20.2.0
backcall==0.2.0
backoff==2.2.1
Django==4.1.2
django-autoslug==1.9.8
django-cors-headers==3.13.0
django-tinymce==3.4.0
djangorestframework==3.14.0
gunicorn==20.1.0
jsonify==0.5
psycopg2==2.9.3
psycopg2-binary==2.9.5
sqlparse==0.4.2
stack-data==0.6.1
tzdata==2021.5
urllib3==1.26.9


