requests==2.27.1
asgiref==3.5.2
astroid==2.12.4
asttokens==2.1.0
Pillow==9.2.0
attrs==22.1.0
autobahn==22.7.1
Automat==20.2.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.10.0
Django==4.1.2
django-autoslug==1.9.8
django-cors-headers==3.13.0
django-tinymce==3.4.0
djangorestframework==3.14.0
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
ipykernel==6.17.1
ipython==8.6.0
jsonify==0.5
lazy-object-proxy==1.7.1
msgpack==1.0.4
mysql-connector-python==8.0.31
mysqlclient==2.1.1
nest-asyncio==1.5.6
packaging==21.3
parso==0.8.3
pickleshare==0.7.5
pipenv==2022.10.25
pipreqs==0.4.11
platformdirs==2.5.2
prompt-toolkit==3.0.33
protobuf==3.20.1
psutil==5.9.4
psycopg2==2.9.3
psycopg2-binary==2.9.5
sqlparse==0.4.2
stack-data==0.6.1
tzdata==2021.5
urllib3==1.26.9
virtualenv==20.16.3
virtualenv-clone==0.5.7

