django==4.1.2
django-autoslug==1.9.8
django-tinymce==3.4.0
djangorestframework==3.14.0
backoff==2.2.1
requests== 2.27.1
Automat==20.2.0
backcall==0.2.0
daphne==3.0.2
ipykernel==6.17.1
ipython==8.6.0
jsonify==0.5
Pillow==9.2.0
pipenv==2022.10.25
pipreqs==0.4.11
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.9
virtualenv==20.16.3
virtualenv-clone==0.5.7

